@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

/* Custom container sizes for better responsiveness */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2400px;
  }
}

@media (min-width: 3840px) {
  .container {
    max-width: 3600px;
  }
}

.nav-links {
  font-weight: 600;
}

.nav-links.active {
  color: #2b7fff !important;
}

.nav-tabs {
  padding: 10px 20px;
}

#home {
  background: url("./src/assets/hero_bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

#home:before {
  content: "";
  background: rgba(18, 30, 68, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-content {
  position: inherit;
  z-index: 2;
}
